<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bootstrap Visualization Dashboard</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="static/css/styles.css" media="screen">

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Chart CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- color palette -->
    <script type="text/javascript" src="Chart.js"></script>
    <script type="text/javascript" src="chartjs-plugin-colorschemes.js"></script>

  </head>

  <body>
    <!-- Start of navbar -->
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid navbar-custom">
  
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="row">
            <div class="navbar-header">
              <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="{{url_for('index')}}" id="logo">Home</a>
              </div>
            </div>
          </div>
  
        </div><!-- /.container-fluid -->
  
        <div class="hero2 text-center">
          <h3>A Closer Look at US and GB Youtube data </h3>
        </div>
      
      </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Views through Time</h1>
            <!-- <hr class="description-hr"/> -->

            <div class="myGraph">
            <canvas id="line-chart" width="200" height="200"></canvas>
            </div>

            <p>TUnited States<br>
              The United States (US) had over 180.7 million active YouTube users in 2018.
              The number of American users grew by about 3.16% between 2015 and 2016, as the country had approximately 167.4 million registered active users during the first quarter of 2016.
              <br>YouTube ranked first among website viewers in 2016, with nearly twice the number of desktop viewers than Facebook. About 51% of American YouTube users in 2015 were male, while 49% were female.
              YouTube was also the most popular mobile video and music application in the US, as it was used on smartphones by over 62% of the population.
              YouTube accounts for a huge share of the total video-advertising revenue in the US, which translated to US$1.55 billion in 2015.</p>
            <p>
              Great Britain <br>
              YouTube had the highest number of users of any social media platform in the United Kingdom (GB) in 2016, 
              as it was used by 85% of the population, followed by Facebook (78%), Google Plus, and WhatsApp. 
              According to research commissioned by Google in 2014, the Great Britains’s YouTube users are older, 
              with half of them being over 35 years of age. About 46% of users in 2014 were women, while 54% were men. 
              Over 84% of adults in the Great Britain  use social media, and more than two-thirds use it daily.
            </p>



          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <section id="imageNav-area">
            <div class="imageNav-content">
                <h2 class="imageNav-header">Visualization</h2>
                <hr />
                <div id="images">
                  <a href="{{url_for('bar')}}"><img src="static/images/Fig1.png" alt="Average Views by Category" class="imageNav-photo"></a>
                  <a href="{{url_for('bubble')}}"><img src="static/images/Fig2.png" alt="Likes vs. Dislikes" class="imageNav-photo"></a>
                  <a href="{{url_for('line')}}"><img src="static/images/Fig3.png" alt="Views through Time" class="imageNav-photo"></a>
                  <a href="{{url_for('doughnut')}}"><img src="static/images/Fig4.png" alt="Views through Time" class="imageNav-photo"></a>
                </div>
            </div>
          </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div>
    <!-- End of container -->
    </div>
    
    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        by: Shawn Advani ~ Sabir Samlani ~ Olesea Armasari ~ Rocio Zambrano ~ Sherwin Macalintal
      </p>
    </footer>
    <!-- End of footer -->

    <!-- Line chart -->
    <script src="{{url_for('static', filename='js/appGBLineChart.js')}}"></script>

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

</html>
