<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Chart CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <!-- color palette -->
    <script type="text/javascript" src="Chart.js"></script>
    <script type="text/javascript" src="chartjs-plugin-colorschemes.js"></script>

  </head>
<body>
  
  <script src="{{url_for('static', filename='js/appBubbleChart.js')}}"></script>
  
  <a href="{{url_for('bar')}}">Ave Views by Category</a>
  <a href="{{url_for('line')}}">Views through Time</a>
  <a href="{{url_for('index')}}">Home</a>

  <canvas id="bubble-chart" width="400" height="400"></canvas>

</body>
</html>