<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bootstrap Visualization Dashboard</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="static/css/styles.css" media="screen">

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Chart CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- color palette -->
    <script type="text/javascript" src="Chart.js"></script>
    <script type="text/javascript" src="chartjs-plugin-colorschemes.js"></script>

  </head>

  <body>
    <!-- Start of navbar -->
    <div class="wrapper">
      <!-- <div class="container-fluid navbar-custom"> -->

        <div class="hero text-center">
          <h1>Youtube</h1>
          <h3>US vs GB: We are watching you!</h3>
        </div>

      <!-- </div>/.container-fluid -->
    <!-- </nav> -->
    <!-- End of navbar -->

    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-8">
          <article class="description-content">
            <h1 class="description-header">Executive Summary</h1>
            <hr class="description-hr"/>
            <img src="static/images/Fig5.png" alt="proposal" id="description-image2"/>
            <p>Youtube's popularity is undeniable, with its exponential growth brought about by the ease of video content production and easy access of viewing.
              <br>
              <br>This project's goal was to analyze a decade worth of Youtube data  on USA and GB. Our team looked into similarities, 
							and differences, on  two countries' viewing preferences that may provide valuable insights to those who plans to expand their contents 
              on either country.
            </p>
            <p>
              The dataset used was obtained from <b>Kaggle</b>.
              <br>It contains data for 10 countries with 41,000 entries each. The group decided to focus analysis on two countries - US and GB. 
            </p>
            <p><b>PostgreSQL </b>was used on this project to store all the data obtained.
									<br>PostgreSQL is a powerful, open source object-relational database system that 
                  has earned it a strong reputation for reliability, feature robustness, and performance.
            </p>
            <p><b>Python and Javascript </b>were the language behind this application.
									<br>Python was used on the ETL process and the creation of this application.
									<br>Javascript was utilized on rendering the vizualization with the aid of the Chart JS library.
            </p>
            <p>
              <b>HTML and CSS </b>were used to give face to the application.
									<br>A template was utilized to render a professional looking frontend.
									Customization on the template was done to reflect the team's vision and goal.
            </p>

          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Visualizations</h2>
              <hr />
              <div id="images">
                <a href="{{url_for('bar')}}"><img src="static/images/Fig1.png" alt="Average Views by Category" class="imageNav-photo"></a>
                <a href="{{url_for('bubble')}}"><img src="static/images/Fig2.png" alt="Likes vs. Dislikes" class="imageNav-photo"></a>
                <a href="{{url_for('line')}}"><img src="static/images/Fig3.png" alt="Views through Time" class="imageNav-photo"></a>
                <a href="{{url_for('doughnut')}}"><img src="static/images/Fig4.png" alt="Views through Time" class="imageNav-photo"></a>
              </div>
            </div>
          </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div>
    <!-- End of container -->
  </div>

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        by: Shawn Advani ~ Sabir Samlani ~ Olesea Armasari ~ Rocio Zambrano ~ Sherwin Macalintal
      </p>
    </footer>
    <!-- End of footer -->
  
    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  </body>

</html>
